__pycache__/
*.pyc
.pytest_cache/
.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/

# data size too big for github
data/*
!data/.gitkeep

report/*

# Generated analysis outputs. Regenerate via README.md
results/*
!results/.gitkeep
